/* INDEX */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  background-color: #0f021b;
  overflow-x: hidden; }

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #260454;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 18px; }
  .header .navbar .navbar-toggler {
    border: #fffefd solid 3px; }
  .header .navbar img {
    height: 40px;
    width: 120px; }
  .header .navbar div ul {
    background-color: #260454; }
  .header .navbar div a {
    color: #fffefd; }
  .header .navbar div a:hover {
    position: relative;
    transition: background-color .5s;
    background-color: #a245b1d7;
    border-radius: 4px; }
  .header .navbar div .carrito {
    height: 50px;
    width: 50px; }

h1 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #fffefd;
  text-align: center;
  margin-top: 70px; }

.seccion__titulo {
  color: #650E77;
  margin-top: 50px;
  margin: 1rem;
  font-size: 2rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  text-shadow: #fffefd 0em 0em; }

main .carrusel .carousel-item .carousel-caption h5 {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #650E77; }

main .carrusel .carousel-item .carousel-caption p {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #fffefd;
  text-shadow: black 0.1em 0.1em 0.2em; }

main .container {
  padding: 10px; }

/* galeria index */
.galeria__index {
  justify-content: space-evenly; }
  .galeria__index .galeria--img {
    width: 30%;
    height: 100%;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    transform-origin: center;
    transform: perspective(800px) rotateY(25deg);
    transition: 0.5s; }
  .galeria__index .galeria__index {
    max-width: 600px;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .galeria__index .galeria__index:hover .galeria--img {
    opacity: 1.3; }
  .galeria__index .galeria--img:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 4; }

.noticias__index {
  padding: 15px; }
  .noticias__index .card-title {
    margin-top: 10px; }
  .noticias__index iframe {
    width: 100%;
    height: 100%;
    padding: 8px; }
  .noticias__index p {
    font-family: "Kdam Thmor Pro", sans-serif; }
  .noticias__index a {
    text-decoration: none;
    color: #fffefd; }

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem; }
  .card .animate__bounce {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite; }
  .card .img__tienda {
    object-fit: contain;
    margin-top: 5px;
    height: 190px;
    width: 100%; }
  .card .img_rank {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px; }
  .card h3 {
    margin-top: 30px;
    font-size: 25px; }
  .card h4 {
    font-size: 18px; }
  .card .card-body h5 {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #fffefd; }
  .card div {
    text-align: center; }
    .card div .boton {
      text-align: center; }
    .card div p {
      font-family: "Kdam Thmor Pro", sans-serif; }
    .card div .oferta__ {
      font-family: "Kdam Thmor Pro", sans-serif;
      color: #0496f1; }
  .card:hover {
    transition: border .2s;
    border: solid #9900ec 1px;
    cursor: pointer; }

.card__dest:hover {
  transition: border .3s;
  border: solid #f80101 1px; }

.main__blog .main__blog--about p {
  width: 100%;
  margin: 15px;
  font-size: 16px;
  color: #fffefd;
  font-family: "Kdam Thmor Pro", sans-serif; }

main h3 {
  color: #fffefd;
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 18px; }

main .row .contacto__check {
  background-color: #650E77; }

main .row label {
  font-family: "Kdam Thmor Pro", sans-serif;
  color: #fffefd; }

main .row textarea {
  width: 100%;
  height: 150px; }

main .row hr {
  height: 5px;
  background-color: #e793f4d7; }

main .row div {
  text-align: center; }
  main .row div span {
    margin-bottom: 20px;
    position: relative;
    background-color: #650E77;
    font-family: "Kdam Thmor Pro", sans-serif;
    border: none;
    border-radius: 35px; }

main .row span:hover {
  background-color: #e793f4d7; }

footer {
  background-color: #260454; }
  footer div {
    padding: 4px; }
    footer div .row {
      margin: 0; }
      footer div .row h5 {
        color: #fffefd;
        font-family: 'Kdam Thmor Pro', sans-serif; }
      footer div .row a {
        font-family: 'Kdam Thmor Pro', sans-serif;
        text-decoration: none;
        color: #fffefd; }
    footer div img {
      width: 150%;
      height: 100%; }
  footer div li p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fffefd; }
  footer div .footer__derechos {
    color: #fffefd;
    font-family: 'Kdam Thmor Pro', sans-serif; }

/* pantalla movil */
@media screen and (max-width: 576px) {
  .main__blog--about {
    display: flex;
    flex-direction: column; }
    .main__blog--about img {
      width: 280px;
      height: 210px;
      margin: 8px; }
  /* imagen footer */
  .__img {
    width: 100%; }
  /* carrusel */
  .carousel-inner img {
    height: 180px;
    width: 100%;
    object-position: bottom;
    object-fit: contain; }
  /* galeria index */
  .galeria__index {
    display: flex;
    align-items: flex-end;
    height: 220px; } }

/* pantallas tablet */
@media screen and (min-width: 577px) and (max-width: 991px) {
  .main__blog--about {
    display: flex;
    flex-direction: column; }
    .main__blog--about img {
      width: 400px;
      height: 210px;
      margin: 8px; }
  .__img {
    width: 100%; }
  .carousel-inner img {
    height: 280px;
    width: 100%;
    object-position: bottom; }
  /* galeria index */
  .galeria__index {
    display: flex;
    justify-content: flex-end;
    align-items: center; } }

/* desktop */
@media screen and (min-width: 991px) {
  .main__blog--about {
    display: flex;
    flex-direction: column; }
    .main__blog--about img {
      width: 400px;
      height: 210px;
      margin: 8px; } }
