/* INDEX */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #260454;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 18px; }
  .header .navbar .navbar-toggler {
    border: #fffefd solid 3px; }
  .header .navbar img {
    height: 40px;
    width: 120px; }
  .header .navbar div ul {
    background-color: #260454; }
  .header .navbar div a {
    color: #fffefd; }
  .header .navbar div .carrito {
    height: 50px;
    width: 50px; }
  .header .navbar div .hover:hover {
    background-color: #069097;
    transition: background-color 0.2s;
    border-radius: 5px; }

a:hover {
  position: relative;
  transition: background-color .5s;
  background-color: #a245b1d7;
  border-radius: 4px; }

main .carrusel {
  /*
        .carousel-inner {
            height: 650px;
            width: 100%;
        } */ }
  main .carrusel .carousel-inner img {
    width: 100%; }
  main .carrusel .carousel-item h5 {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: seagreen; }
  main .carrusel .carousel-item p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fffefd; }

main .container {
  padding: 10px; }

/* galeria index */
.galeria__index .galeria--img {
  width: 30%;
  height: 100%;
  margin-left: 20px;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s; }

.galeria__index .galeria__index {
  max-width: 600px;
  max-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }

.galeria__index .galeria__index:hover .galeria--img {
  opacity: 1.3; }

.galeria__index .galeria--img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 4; }

.card {
  background: #222;
  border: 1px solid #dd2476;
  color: rgba(250, 250, 250, 0.8);
  margin-bottom: 2rem; }
  .card .card-body h5 {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: #ffffff; }
  .card div {
    text-align: center; }
    .card div .boton {
      text-align: center; }

.card:hover {
  transition: border .2s;
  border: solid #dd2476 3px; }

.main__blog .main__blog--about img {
  width: 400px;
  height: 250px;
  margin: 15px; }

.main__blog .main__blog--about p {
  width: 100%;
  margin: 15px;
  font-size: 16px;
  color: #fffefd;
  font-family: 'Kdam Thmor Pro', sans-serif; }

main h3 {
  color: #d8d3e4;
  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: 18px; }

main .row .contacto__check {
  background-color: #650E77; }

main .row label {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #fffefd; }

main .row textarea {
  width: 100%;
  height: 150px; }

main .row hr {
  height: 5px;
  background-color: #e793f4d7; }

main .row div {
  text-align: center; }
  main .row div span {
    margin-bottom: 20px;
    position: relative;
    background-color: #650E77;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border: none;
    border-radius: 35px; }

main .row span:hover {
  background-color: #e793f4d7; }

section .imagenes__tienda {
  text-align: center; }
  section .imagenes__tienda .contenedor img {
    object-fit: contain;
    margin-top: 5px;
    height: 190px;
    width: 100%; }

footer {
  background-color: #260454; }
  footer div {
    padding: 4px; }
    footer div .row {
      margin: 0; }
      footer div .row h5 {
        color: #fffefd;
        font-family: 'Kdam Thmor Pro', sans-serif; }
      footer div .row a {
        font-family: 'Kdam Thmor Pro', sans-serif;
        text-decoration: none;
        color: #fffefd; }
    footer div img {
      width: 150%;
      height: 100%; }
  footer div li p {
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #fffefd; }
  footer div .footer__derechos {
    color: #fffefd;
    font-family: 'Kdam Thmor Pro', sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  background-color: #0f021b;
  overflow-x: hidden; }

h1 {
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: 70px; }

.seccion__titulo {
  color: #650E77;
  margin-top: 50px;
  margin: 1rem;
  font-size: 2rem;
  font-family: 'Kdam Thmor Pro', sans-serif; }

/*------ranking------ */
/* -----CONTACTO----- */
/*  */
/* -----BLOG------ */
/* ---- tienda----- */
