/* INDEX */

@import "utilities/variables";
@import "layout/nav";
@import "views/index";
@import "components/card";
@import "views/blog";
@import "views/contacto";
@import "views/tienda";
@import "layout/footer";

@import "utilities/mediaqueries";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: $color-body;
    overflow-x: hidden;

}

 


    h1 {
        font-family: 'Kdam Thmor Pro', sans-serif;
        color: #ffffff;
        text-align: center;
        margin-top: 70px;
    }

    .seccion__titulo {
        color: #650E77;
        margin-top: 50px;
        margin: 1rem;
        font-size: 2rem;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }



/*------ranking------ */







/* -----CONTACTO----- */


/*  */



/* -----BLOG------ */


/* ---- tienda----- */