
footer {
    background-color: #260454;

    div {
        padding: 4px;

        .row {
            margin: 0;

            h5 {
                color: #fffefd;
                font-family: 'Kdam Thmor Pro', sans-serif;
            }

            a {
                font-family: 'Kdam Thmor Pro', sans-serif;
                text-decoration: none;
                color: #fffefd;

            }
        }

        img {
            width: 150%;
            height: 100%;

        }

    }

    div {
        li {
            p {
                font-family: 'Kdam Thmor Pro', sans-serif;
                color: #fffefd;
            }
        }
    }



    div {
        .footer__derechos {
            color: #fffefd;
            font-family: 'Kdam Thmor Pro', sans-serif;

        }
    }

}

