

.card {
    background: #222;
    border: 1px solid #dd2476;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
    
    .card-body{
        & h5{
        font-family: $font-family;
        color: #ffffff;
        }
    }
    div{
        text-align: center;
        
        .boton{
            text-align: center;
            
        }
    }

   
}

.card:hover {
    transition: border .2s;
    border: solid $hover-color 1px;
    cursor: pointer;

}