

.card {
    background: #222;
    border: 1px solid  $border-color;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;

    .animate__bounce{
      animation-duration: 3s;
      animation-delay: 2s;
      animation-iteration-count: infinite;
    }
    
    .img__tienda{
        object-fit: contain;
        margin-top: 5px;
        height: 190px;
        width: 100%;
    }
    .img_rank{
        height: 100%;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        
    }
    h3{
        
    margin-top: 30px;
    font-size: 25px;
    }
    h4{
        font-size: 18px;
    }
    .card-body{
        & h5{
        font-family: $font-family;
        color: $font-color;
        }
    }
    div{
        text-align: center;
        
        .boton{
            text-align: center;
            
        }
        p{
            font-family: $font-family;
        }
        .oferta__{
            font-family: $font-family;
            color: $sale-value;

        }
    }
    &:hover {
        transition: border .2s;
        border: solid $hover-color 1px;
        cursor: pointer;
    
    }

   
} 



.card__dest:hover{
    transition:  border .3s;
    border: solid $sale-product 1px;
}
