


.main__blog {

    .main__blog--about {

        img {
            width: 400px;
            height: 250px;
            margin: 15px
        }



        p {
            width: 100%;
            margin: 15px;
            font-size: 16px;
            color: #fffefd;
            font-family: 'Kdam Thmor Pro', sans-serif;
        }

    }

}