


.main__blog {

    .main__blog--about {




        p {
            width: 100%;
            margin: 15px;
            font-size: 16px;
            color: #fffefd;
            font-family: $font-family;
        }

    }

}