main {
    .carrusel {

        .carousel-item {

            .carousel-caption {

                h5 {
                    font-family: $font-family;
                    color: $color-primary;
                }

                p {
                    font-family: $font-family;
                    color: $font-color;
                    text-shadow: $text-shadow 0.1em 0.1em 0.2em;
                }
            }
        }
    }

    .container {
        padding: 10px;
    }

}


/* galeria index */
.galeria__index {

    justify-content: space-evenly;


    .galeria--img {

        width: 30%;
        height: 100%;
       

        -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);

        transform-origin: center;
        transform: perspective(800px) rotateY(25deg);
        transition: 0.5s;
    }

    .galeria__index {
        max-width: 600px;
        max-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .galeria__index:hover .galeria--img {
        opacity: 1.3;
    }

    .galeria--img:hover {
        transform: perspective(800px) rotateY(0deg);
        opacity: 4;
    }

}

.noticias__index {

    padding: 15px;
    .card{
      
    }
    .card-title{
        margin-top: 10px;

    }

    iframe{
        width: 100%;
        height: 100%;
        padding: 8px;
        
    }
    p{
        font-family:$font-family ;
    }
    a{
        text-decoration: none;
        color: $font-color;
    }
}