


section{
    .imagenes__tienda{
      text-align: center;
        .contenedor{
       
            img{
                object-fit: contain;
                margin-top: 5px;
                height: 190px;
                width: 100%;
            }
        }
    }
}
